<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20 border-t border-gray-200">
      <!-- Section header -->
      <div class="max-w-3xl mx-auto text-center pb-20">
        <h2 class="h2">常见问题</h2>
      </div>

      <!-- Faqs -->
      <ul class="max-w-3xl mx-auto pl-12">
        <li x-data="{ expanded: false }">
          <button class="flex items-center w-full text-lg font-medium text-left py-5 border-t border-gray-200" @click="expanded = !expanded" :aria-expanded="expanded">
            <svg class="w-4 h-4 fill-current text-blue-500 flex-shrink-0 mr-8 -ml-12" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'rotate-180': expanded}"></rect>
              <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'rotate-180': expanded}"></rect>
            </svg>
            <span>我需要编码知识才能使用该产品吗？</span>
          </button>
          <div x-ref="item" class="text-gray-600 overflow-hidden transition-all duration-300 ease-in-out" :style="expanded ? 'max-height: ' + $refs.item.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: 0'">
            <p class="pb-5">不需要，您只需操作简单的图形化界面即可使用我们的产品</p>
          </div>
        </li>
        <li x-data="{ expanded: false }">
          <button class="flex items-center w-full text-lg font-medium text-left py-5 border-t border-gray-200" @click="expanded = !expanded" :aria-expanded="expanded">
            <svg class="w-4 h-4 fill-current text-blue-500 flex-shrink-0 mr-8 -ml-12" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'rotate-180': expanded}"></rect>
              <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'rotate-180': expanded}"></rect>
            </svg>
            <span>您有学生或非营利组织折扣吗？</span>
          </button>
          <div x-ref="item" class="text-gray-600 overflow-hidden transition-all duration-300 ease-in-out" :style="expanded ? 'max-height: ' + $refs.item.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: 0'">
            <p class="pb-5">我们对学生或教育机构，公益性质的机构实行额外的折扣。</p>
          </div>
        </li>
        <li x-data="{ expanded: false }">
          <button class="flex items-center w-full text-lg font-medium text-left py-5 border-t border-gray-200" @click="expanded = !expanded" :aria-expanded="expanded">
            <svg class="w-4 h-4 fill-current text-blue-500 flex-shrink-0 mr-8 -ml-12" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'rotate-180': expanded}"></rect>
              <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'rotate-180': expanded}"></rect>
            </svg>
            <span>有没有办法成为该产品的附属经销商？</span>
          </button>
          <div x-ref="item" class="text-gray-600 overflow-hidden transition-all duration-300 ease-in-out" :style="expanded ? 'max-height: ' + $refs.item.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: 0'">
            <p class="pb-5">目前还没有拓展经销商的计划，正在筹备中。</p>
          </div>
        </li>
        <li x-data="{ expanded: true }">
          <button class="flex items-center w-full text-lg font-medium text-left py-5 border-t border-gray-200" @click="expanded = !expanded" :aria-expanded="expanded">
            <svg class="w-4 h-4 fill-current text-blue-500 flex-shrink-0 mr-8 -ml-12" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'rotate-180': expanded}"></rect>
              <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'rotate-180': expanded}"></rect>
            </svg>
            <span>免费版和付费版有什么区别？</span>
          </button>
          <div x-ref="item" class="text-gray-600 overflow-hidden transition-all duration-300 ease-in-out" :style="expanded ? 'max-height: ' + $refs.item.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: 0'">
            <p class="pb-5">免费版只是一个简单的演示，有功能上的限制。付费版不仅没有功能的限制，还提供额外的技术支持。</p>
          </div>
        </li>
        <li x-data="{ expanded: false }">
          <button class="flex items-center w-full text-lg font-medium text-left py-5 border-t border-gray-200" @click="expanded = !expanded" :aria-expanded="expanded">
            <svg class="w-4 h-4 fill-current text-blue-500 flex-shrink-0 mr-8 -ml-12" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'rotate-180': expanded}"></rect>
              <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'rotate-180': expanded}"></rect>
            </svg>
            <span>如何更改工作区的所有者？</span>
          </button>
          <div x-ref="item" class="text-gray-600 overflow-hidden transition-all duration-300 ease-in-out" :style="expanded ? 'max-height: ' + $refs.item.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: 0'">
            <p class="pb-5">只需要您提供您的 Github 账号，我们会重新进行捆绑。</p>
          </div>
        </li>
        <span class="block border-t border-gray-200" aria-hidden="true"></span>
      </ul>
    </div>
  </div>
</section>
