<section class="mb-72 text-center relative after:block after:absolute after:inset-0 after:right-12 after:bg-black after:z-[-1]">
  <h2 class="text-3xl text-white mt-32 relative before:inline before:absolute before:inset-0 before:bg-white inline-block data-mo="right">02 Our Service</h2>
  <div class="mx-36 px-16 py-24 translate-y-32 grid grid-cols-3 gap-16 bg-white shadow-[0_10px_80px_rgba(0,0,0,0.1)]">
    <div class="text-center">
      <h3 class="text-2xl leading-loose uppercase">Web</h3>
      <h3 class="text-2xl leading-loose mb-4 uppercase">Creation</h3>
      <p>我们为您的问题提供一站式解决方案，从设计开始。 我们在创建企业网站、媒体网站、品牌网站等方面拥有丰富的经验。</p>
    </div>
    <div>
      <h3 class="text-2xl leading-loose uppercase">Web</h3>
      <h3 class="text-2xl leading-loose mb-4 uppercase">Creation</h3>
      <p>我们为您的问题提供一站式解决方案，从设计开始。 我们在创建企业网站、媒体网站、品牌网站等方面拥有丰富的经验。</p>
    </div>
    <div>
      <h3 class="text-2xl leading-loose uppercase">Web</h3>
      <h3 class="text-2xl leading-loose mb-4 uppercase">Creation</h3>
      <p>我们为您的问题提供一站式解决方案，从设计开始。 我们在创建企业网站、媒体网站、品牌网站等方面拥有丰富的经验。</p>
    </div>
  </div>
</section>