---
import { Picture } from '@astrojs/image/components'
---

<section class="py-8">
  <div class="sm:px-8 flex flex-col md:flex-row justify-between items-center gap-8">
    <div class="md:basis-1/2 px-8 sm:px-32 flex flex-col">
      <h3
        class="text-xs text-center md:text-left tracking-widest pb-16 relative after:absolute after:left-1/2 md:after:left-0 after:-ml-4 md:after:ml-0 after:top-8 after:w-8 after:h-px after:bg-neutral-300"
      >
        我们的故事
      </h3>
      <h2 class="text-4xl lg:text-5xl 2xl:text-6xl font-light leading-tight mb-8">
        <strong>全球领先</strong>的有色宝石开采商，<strong>以符合道德责任标准的方式开采</strong>有色宝石
      </h2>
      <p class="lg:text-lg 2xl:text-xl leading-snug pb-8">
        Gemfields
        以符合道德规范的方式从全世界最高品质的宝石矿里开采祖母绿和红宝石。我们很自豪能在宝石行业和消费者中持续引领和推广可持续发展理念与实践。我们支持社会进步，挑战行业陋习。我们是一家年轻而充满朝气的企业，尽一切可能帮助年轻人发展成才。合作伙伴不仅有最知名的珠宝品牌，也有先锋前卫的新锐设计师。只要有需要，我们就敢于大胆创新。
      </p>
      <div
        class="group inline-block py-2 w-16 text-neutral-300 after:block after:w-0 after:h-px after:bg-black after:transition-all after:duration-300 after:ease-out hover:after:w-12 hover:text-black"
      >
        <a
          href="/about/about-genfields/"
          class="block text-xs transition-all duration-300 ease-out group-hover:-translate-y-2">了解更多</a
        >
      </div>
    </div>
    <div class="md:basis-1/2">
      <Picture
        src={import('~/assets/images/magazine_hold.webp')}
        widths={[400, 800]}
        aspectRatio="2:3"
        format={['avif', 'webp']}
        alt="我们的故事"
        data-sal="fade"
      />
    </div>
  </div>
</section>

<section class="py-8">
  <div class="sm:px-8 flex flex-col">
    <h3
      class="text-center md:text-left text-xs tracking-widest pb-16 relative after:absolute after:left-1/2 md:after:left-0 after:-ml-4 md:after:ml-0 after:top-8 after:w-8 after:h-px after:bg-neutral-300"
    >
      新闻发布
    </h3>
    <h2 class="text-center md:text-left text-4xl lg:text-5xl 2xl:text-6xl font-light leading-tight mb-8">
      浏览我们的最新新闻。
    </h2>
  </div>
</section>

<section class="py-8">
  <div class="sm:px-8 flex flex-col-reverse md:flex-row justify-between items-center gap-8">
    <div class="md:basis-1/2">
      <Picture
        src={import('~/assets/images/magazine_image.webp')}
        widths={[400, 800]}
        aspectRatio="2:3"
        format={['avif', 'webp']}
        alt="A happy penguin"
        data-sal="fade"
      />
    </div>
    <div class="md:basis-1/2 px-8 sm:px-32">
      <h3
        class="text-xs text-center md:text-left tracking-widest pb-16 relative after:absolute after:left-1/2 md:after:left-0 after:-ml-4 md:after:ml-0 after:top-8 after:w-8 after:h-px after:bg-neutral-300"
      >
        可持续发展
      </h3>
      <h2 class="text-4xl lg:text-5xl 2xl:text-6xl font-light leading-tight mb-8">
        为整个行业带来长期的积极改变，提升透明度。
      </h2>
      <p class="text-lg 2xl:text-xl leading-snug pb-8">
        我们的目标是带动相关各国经济增长，引领有色宝石行业现代化转型，帮助矿区周边社区建立可持续生计来源。
      </p>
      <div
        class="group inline-block py-2 w-16 text-neutral-300 after:block after:w-0 after:h-px after:bg-black after:transition-all after:duration-300 after:ease-out hover:after:w-12 hover:text-black"
      >
        <a
          href="/about/about-genfields/"
          class="block text-xs transition-all duration-300 ease-out group-hover:-translate-y-2">了解更多</a
        >
      </div>
    </div>
  </div>
</section>
