<footer class="bg-black">
  <div class="py-24 flex flex-col items-center">
    <h3 class="text-4xl py-4 text-white">订阅</h3>
    <h4 class="text-3xl font-light pb-16 text-white">我们的新闻简讯</h4>
    <form class="flex flex-col items-center">
      <label>
        <input
          name="email"
          type="email"
          placeholder="您的邮件地址"
          required="required"
          class="w-80 p-3 text-center text-xs text-neutral-900 hover:text-white tracking-widest bg-black border-b border-neutral-600 mb-8"
        />
      </label>
      <button
        class="releative block w-48 p-3 border border-white text-white text-xs tracking-widest hover:text-black hover:shadow-[inset_12rem_0_0_0] hover:shadow-white transition-all duration-300"
        >提交</button
      >
    </form>
    <h5 class="pt-16 pb-8 text-xs text-white tracking-wider uppercase">关注Gemfields</h5>
    <ul class="flex gap-8 md:gap-12 text-xs text-white md:text-neutral-400 tracking-wider uppercase">
      <li>
        <a target="_blank" href="https://instagram.com/gemfields" class="nav nav--bottom">Instagram</a>
      </li>
      <li>
        <a target="_blank" href="https://facebook.com/gemfields" class="nav nav--bottom">Facebook</a>
      </li>
      <li>
        <a target="_blank" href="https://twitter.com/gemfieldsltd" class="nav nav--bottom">Twitter</a>
      </li>
      <li>
        <a target="_blank" href="https://weibo.com/gemfields" class="nav nav--bottom">微博</a>
      </li>
    </ul>
  </div>
  <ul class="p-4 md:p-8 border-t border-neutral-500 grid md:grid-cols-3 text-xs text-white tracking-wider">
    <li class="py-2 text-center mb-4 md:mb-0 text-white md:text-neutral-400">
      <a href="/legal/" class="nav nav--bottom">法律声明</a>
    </li>
    <li class="text-center md:text-left py-2 mb-12 md:mb-0 md:order-first">© GEMFIELDS 2023</li>
    <li></li>
  </ul>
</footer>

<a
  href="#"
  class="px-6 py-3 fixed text-center right-0 bottom-0 w-full md:w-auto md:right-8 md:bottom-8 bg-white border border-neutral-200 z-20 text-xs tracking-wider"
  x-show="toTop"
  x-transition:enter="transition ease-out duration-300"
  x-transition:enter-start="opacity-0 translate-y-16 transform"
  x-transition:leave="transition ease-in duration-300"
  x-transition:leave-end="opacity-0 translate-y-16 transform"
>
  回到顶端
</a>

<style is:global>
  .nav--bottom::after {
    @apply content-[''] absolute left-0 bottom-0 bg-white w-0 h-px  duration-300;
  }
  .nav--bottom:hover {
    @apply text-white;
  }
  .nav--bottom:hover::after {
    @apply w-full;
  }
</style>
